<div id="keyboard">
    <div class="key-row">
        <button class="keyboard-button" (click)="getKeyBoardEvent('q')" [ngClass]="getTileClass('q')">q</button>
        <button class="keyboard-button" (click)="getKeyBoardEvent('w')" [ngClass]="getTileClass('w')">w</button>
        <button class="keyboard-button" (click)="getKeyBoardEvent('e')" [ngClass]="getTileClass('e')">e</button>
        <button class="keyboard-button" (click)="getKeyBoardEvent('r')" [ngClass]="getTileClass('r')">r</button>
        <button class="keyboard-button" (click)="getKeyBoardEvent('t')" [ngClass]="getTileClass('t')">t</button>
        <button class="keyboard-button" (click)="getKeyBoardEvent('y')" [ngClass]="getTileClass('y')">y</button>
        <button class="keyboard-button" (click)="getKeyBoardEvent('u')" [ngClass]="getTileClass('u')">u</button>
        <button class="keyboard-button" (click)="getKeyBoardEvent('i')" [ngClass]="getTileClass('i')">i</button>
        <button class="keyboard-button" (click)="getKeyBoardEvent('o')" [ngClass]="getTileClass('o')">o</button>
        <button class="keyboard-button" (click)="getKeyBoardEvent('p')" [ngClass]="getTileClass('p')">p</button>
    </div>
    <div class="key-row">
        <button class="keyboard-button" (click)="getKeyBoardEvent('a')" [ngClass]="getTileClass('a')">a</button>
        <button class="keyboard-button" (click)="getKeyBoardEvent('s')" [ngClass]="getTileClass('s')">s</button>
        <button class="keyboard-button" (click)="getKeyBoardEvent('d')" [ngClass]="getTileClass('d')">d</button>
        <button class="keyboard-button" (click)="getKeyBoardEvent('f')" [ngClass]="getTileClass('f')">f</button>
        <button class="keyboard-button" (click)="getKeyBoardEvent('g')" [ngClass]="getTileClass('g')">g</button>
        <button class="keyboard-button" (click)="getKeyBoardEvent('h')" [ngClass]="getTileClass('h')">h</button>
        <button class="keyboard-button" (click)="getKeyBoardEvent('j')" [ngClass]="getTileClass('j')">j</button>
        <button class="keyboard-button" (click)="getKeyBoardEvent('k')" [ngClass]="getTileClass('k')">k</button>
        <button class="keyboard-button" (click)="getKeyBoardEvent('l')" [ngClass]="getTileClass('l')">l</button>
    </div>
    <div class="key-row">
        <button class="keyboard-button" (click)="getKeyBoardEvent('Backspace')">Del</button>
        <button class="keyboard-button" (click)="getKeyBoardEvent('z')" [ngClass]="getTileClass('z')">z</button>
        <button class="keyboard-button" (click)="getKeyBoardEvent('x')" [ngClass]="getTileClass('x')">x</button>
        <button class="keyboard-button" (click)="getKeyBoardEvent('c')" [ngClass]="getTileClass('c')">c</button>
        <button class="keyboard-button" (click)="getKeyBoardEvent('v')" [ngClass]="getTileClass('v')">v</button>
        <button class="keyboard-button" (click)="getKeyBoardEvent('b')" [ngClass]="getTileClass('b')">b</button>
        <button class="keyboard-button" (click)="getKeyBoardEvent('n')" [ngClass]="getTileClass('n')">n</button>
        <button class="keyboard-button" (click)="getKeyBoardEvent('m')" [ngClass]="getTileClass('m')">m</button>
        <button class="keyboard-button" (click)="getKeyBoardEvent('Enter')">Enter</button>
    </div>
</div>
